<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="connectionString" value="Server=.\sql2008r2;Database=MusicManager;Trusted_Connection=True;MultipleActiveResultSets=True;uid=sa;password=marnus;" />
  </appSettings>
</configuration>