
@{
	ViewBag.Title = "About";
}

<div>
	<div>
		<div><b>Marnus Du Plessis 2017-11-17</b></div>
		<div>This is a sample project I build for Aatop ICT.</div>
		<div>This project is just an example of my programming skills<i>(most of it; but not all of it)</i></div>
		<div>I did not put alot of emphasis on styling</div>
		<div>I used Entity Framework Code First, LAMDA expressions and ajax calls</div>
		<div>This took me about 10 hours to do</div>
</div>
</div>

