
@{
	ViewBag.Title = "About";
}

<style>
	.styleAbout{
		padding-left:30px
	}
</style>

<div>
	<div>
		<div><b>Marnus Du Plessis 2017-11-17</b></div>
		<div class="styleAbout">
			<div>This is a sample project I build for Aatop ICT.</div>
			<div>This project is just an example of my programming skills<i>(most of it; but not all of it)</i></div>
			<div>
				Tools I used to create the project:
				<ul>
					<li>.NET MVC</li>
					<li>Entity Framework Code First</li>
					<li>HTML 5</li>
					<li>jQuery</li>
					<li>LAMDA expression to query the DB</li>
					<li>Ajax calls</li>
					<li>Bootstrap(although I did not put a lot of emphasis on styling in this project)</li>
				</ul>
			</div>
			<div>This took me about 10 hours to do</div>
		</div>
</div>
</div>

