
@{
	ViewBag.Title = "Manage";
}

@using (Html.BeginForm("Manage", "Music", FormMethod.Post))
{
	<table>
		<tr style="height: 60px">
			<th style="width:20%">Add New Genre &nbsp;</th>
			<td style="width:80%">@Html.TextBox("NewGenre", null, new { style = "width: 100%" })</td>
		</tr>
	</table>
	<div style="width:69%; float:right"><input type="submit" value="Add" class="btn-success" /></div>
}
