
@{
	ViewBag.Title = "Manage";
}

@using (Html.BeginForm("Manage", "Music", FormMethod.Post))
{
	<table>
		<tr style="height: 60px">
			<th style="width:20%">Add New Genre &nbsp;</th> 
			<td style="width:80%">@Html.TextBox("NewGenre")</td>
		</tr>
		<tr>
			<td style="display:block"></td>
			<td align="right"><input type="submit" value="Add" class="btn-success" /></td>
		</tr>
	</table>
}
